*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 3px solid black;
    background-color: aqua;
}

.hold{
    border: 3px solid black;
    border-radius: 50%;
}

.hovered{
    background-color: grey;
    border: 3px dashed white;
}

.fill{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

@media(max-width: 700px){
    body{
        flex-direction: column;
    }
}